/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 nov. 2014, 10:08:26
    Author     : Nicolas
*/

h1{
  text-align:center;
}

#content{
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

.btn-group{
    margin-left:5%;
}
table.fixed {
    table-layout:fixed; 
}
table.fixed td { 
    overflow: hidden; 
    width: 3em;
    height: 3em;
}

.formClass{
    margin-top:10px;
    margin-bottom:10px;
}

.table tbody tr > td.success {
    background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
    background-color: #f2dede !important;
}

.table-hover tbody tr:hover > td.success {
    background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
    background-color: #ebcccc !important;
}